<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class="icon">
        <% if @user.picture? %>
        　<span><%= image_tag @user.picture.url %></span>
      　<% else %>
        　<span><%= image_tag 'default_profile_icon.jpg' %></span>
    　　　<% end %>
      </div>
      
      <div class="user user_show">
        <h1>
          <%= @user.name %>
        </h1>
        <p>
          <%= @user.profile %>
        </p>
        <span>
          <% if current_user?(@user) %>
            <%= link_to "編集", edit_user_path(current_user) %>
          <% end %>
        </span>
      </div>
      
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>過去のコピー曲 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>