<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <p>楽器別検索</p>
      <% populars.each do |popular| %>
      <%= link_to "#{popular}", "/retrieval/#{popular}", method: :post %>
      <% end %>
      <div class="second_list">
        <%= link_to "初心者にもおすすめの曲を探す", "/beginner", method: :post %>
      </div>
    </aside>
    
    <div class="col-md-8">
      <h3>新着投稿一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <p>コピーした曲の感想を投稿するサイトです！</p>
        <p>投稿にはユーザー登録が必要です。</p>
      </section>
      <p>楽器別検索</p>
      <% populars.each do |popular| %>
      <%= link_to "#{popular}", "/retrieval/#{popular}", method: :post %>
      <% end %>
      <div class="second_list">
        <%= link_to "初心者にもおすすめの曲を探す", "/beginner", method: :post %>
      </div>
    </aside>
    
    <div class="col-md-8">
      <h3>新着投稿一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% end %>